#!/usr/bin/env bash

# The following is based on 4 Worker Virtual Machines with 16 Cores and 64GB RAM
export SPARK_LOCAL_IP={{ groups['masters'][0] }}
export SPARK_MASTER_IP={{ groups['masters'][0] }}
export SPARK_WORKER_INSTANCES=2
export SPARK_WORKER_CORES=16
export SPARK_WORKER_MEMORY=60G
export SPARK_DRIVER_MEMORY=16G
export SPARK_WORKER_DIR=/tmp/spark-worker
export SPARK_LOCAL_DIRS=/tmp/spark-worker
export SPARK_LOG_DIR=/tmp/spark-logs
export SPARK_EXECUTOR_INSTANCES=4
export SPARK_EXECUTOR_CORES=16
export SPARK_EXECUTOR_MEMORY=60G
