#!/usr/bin/env bash

echo "# install latest version of R"

R_REPO="deb http://cran.rstudio.com/bin/linux/ubuntu trusty/"

sudo add-apt-repository "$R_REPO"
sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys E084DAB9
sudo add-apt-repository -y ppa:marutter/rdev

sudo apt-get -y update
sudo apt-get -y upgrade
sudo apt-get -y install r-base
sudo apt-get -y clean

# allow user {{ cluster_user }} to install packages
sudo chmod 777 /usr/local/lib/R/site-library
