#!/usr/bin/env bash

echo "Installing Zeppelin"

# Install and configure PhantomJS (may not be need on Ubuntu -> libfontconfig)
#wget https://bitbucket.org/ariya/phantomjs/downloads/phantomjs-1.9.8-linux-x86_64.tar.bz2
#tar jxf phantomjs-1.9.8-linux-x86_64.tar.bz2
#ln -s phantomjs-1.9.8-linux-x86_64/bin phantomjs

# TO-DO Ruby------------------------------------------------------------------------------------------------------------
# Install Ruby 1.9.3
#sudo yum install -y readline-devel zlib-devel libyaml-devel libffi-devel openssl-devel centos-release-scl

# Install RVM ( Ruby Version Manager ) 
#curl -L get.rvm.io | bash -s stable
# Setup RVM Environment 
#source /etc/profile.d/rvm.sh
#source ~/.profile
# Install Ruby 1.9.3
#rvm install 1.9.3
#rvm use 1.9.3 --default 

# ALTERNATIVELY

# Ruby 1.9.3 install using ruby193 RPM <-- https://www.softwarecollections.org/en/scls/rhscl/ruby193/
#sudo yum install -y ruby193

# Update rubygems
#sudo scl enable ruby193 bash 
#gem update --system
#gem install bundler
#gem install rake
#exit
#------------------------------------------------------------------------------------------------------------------------

# Install Java 1.7.0 openjdk
#sudo yum install -y java-1.7.0-openjdk-devel
#export JAVA_HOME=/usr/lib/jvm/java-1.7.0-openjdk-1.7.0.101-2.6.6.1.el7_2.x86_64/jre/

# Install node.js and npm
#sudo apt-get install -y nodejs npm libfontconfig

# Install Maven 3.3.9 <-- Maven 3.3.3 not available as of 7/4/2016
# Look into adding maven version via init.yaml
# Centos------------------------------------------------------------------------------------------------------------
#cd /opt
#sudo wget http://www.eu.apache.org/dist/maven/maven-3/3.3.9/binaries/apache-maven-3.3.9-bin.zip
#sudo unzip apache-maven-3.3.9-bin.zip
#sudo mv apache-maven-3.3.9 maven
#sudo ln -s /opt/maven/bin/mvn /usr/bin/mvn
#cd ~
#
# Configure Maven 3.3.9 Profile (Centos)
#cat > /tmp/maven.sh <<EOF
##!/bin/bash
#MAVEN_HOME=/opt/maven
#PATH=$MAVEN_HOME/bin:$PATH
#export PATH MAVEN_HOME
#export CLASSPATH=.
#EOF
#sudo mv /tmp/maven.sh /etc/profile.d/
#sudo chmod +x /etc/profile.d/maven.sh
#source /etc/profile.d/maven.sh

# Ubuntu---------------------------------------------------------------------------------------------------------
#sudo apt-get purge maven maven2
#sudo apt-add-repository -y ppa:andrei-pozolotin/maven3
## Add sbt in case we want to compile a fat jar
sudo echo "deb https://dl.bintray.com/sbt/debian /" | sudo tee -a /etc/apt/sources.list.d/sbt.list
sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv 642AC823
sudo apt-get update
#sudo apt-get -y install sbt maven3
sudo apt-get install -y sbt

# Install Python Libraries (Centos)
#sudo yum install -y python-matplotlib scipy numpy python-pandas

# Install Python Libraries (Ubuntu)
#sudo apt-get install -y python-matplotlib scipy numpy python-pandas

#TO-DO INTALL R

# Install Zeppelin
git clone https://github.com/apache/incubator-zeppelin.git
cd incubator-zeppelin
#mvn clean package -Pcassandra-spark-1.5 -DskipTests # <-- original
mvn clean package -Pspark-1.6 -DskipTests # <-- usaed with Datastax Enterprise 5.0
./bin/zeppelin-daemon start