#!/usr/bin/env bash

echo "# before installing Zeppelin, we need to install Maven >= 3.1.0"
# http://askubuntu.com/questions/420281/how-to-update-maven-3-0-4-3-1-1
#MAVEN_URL=http://www.eu.apache.org/dist/maven/maven-3/3.1.1/binaries
MAVEN_URL=http://www.eu.apache.org/dist/maven/maven-3/{{ maven_version }}/binaries
MAVEN_FILE=apache-maven-{{ maven_version }}
MAVEN_HOME=/opt/apache-maven-{{ maven_version }}
APPS_DIR=/home/{{ cluster_user }}/apps

if ! [ -f $APPS_DIR/$MAVEN_FILE-bin.tar.gz ] ; then
  #sudo wget -q -P /opt -c $MAVEN_URL/$MAVEN_FILE-bin.tar.gz
  sudo wget -q -P $APPS_DIR -c $MAVEN_URL/$MAVEN_FILE-bin.tar.gz
fi
sudo tar xzvf $APPS_DIR/$MAVEN_FILE-bin.tar.gz -C /opt
cd /opt
sudo ln -s $MAVEN_FILE maven

echo "# install Zeppelin"
HOME=/home/{{ cluster_user }}
ZEPPELIN_GIT=git://git.apache.org/zeppelin.git
ZEPPELIN_HOME=/opt/zeppelin

sudo apt-get -y update
sudo apt-get -y install npm libfontconfig

sudo git clone $ZEPPELIN_GIT $ZEPPELIN_HOME

if [ -z "$SPARK_HOME" ]; then
  export SPARK_HOME=/opt/spark
fi

export PATH=$MAVEN_HOME/bin:$PATH
cd $ZEPPELIN_HOME
sudo env "PATH=$PATH" mvn clean package -Pcassandra-spark-1.5 -Dhadoop.version=2.6.2 -Phadoop-2.6 -Ppyspark -Psparkr -DskipTests
# avoid problems with %dep
sudo mkdir $ZEPPELIN_HOME/local-repo
sudo chmod a+w,+t $ZEPPELIN_HOME/local-repo
cd $ZEPPELIN_HOME/..
#sudo ln -s /home/{{ cluster_user }}/zeppelin-env.sh $ZEPPELIN_HOME/conf/zeppelin-env.sh
#sudo cp -f /home/zeppelin-env.sh $ZEPPELIN_HOME/conf/

# this is the only way to make zeppelin start OK
#sudo chown -R vagrant:vagrant $ZEPPELIN_HOME
#sudo env "PATH=$PATH" /opt/zeppelin/bin/zeppelin-daemon.sh start
#/opt/zeppelin/bin/zeppelin-daemon.sh start
