#!/usr/bin/env bash

echo "# install RStudio Server"

RSTUDIO_SERVER_FILE=rstudio-server-0.99.893-amd64.deb

RSTUDIO_SERVER_URL="https://download2.rstudio.org/$RSTUDIO_SERVER_FILE"
APPS_DIR=/home/{{ cluster_user }}/apps

sudo apt-get -y install gdebi-core

if ! [ -f $RSTUDIO_SERVER_FILE ]; then
  sudo wget -q -P $APPS_DIR -c $RSTUDIO_SERVER_URL
fi

sudo gdebi -n $APPS_DIR/$RSTUDIO_SERVER_FILE
sudo apt-get clean
