<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<configuration>
    <property>
        <name>dfs.replication</name>
        <value>{{ hdfs_replication }}</value>
    </property>
{% if 'hdfs_namenode' in group_names %}
    <property>
        <name>dfs.namenode.name.dir</name>
        <value>file://{{ hdfs_namenode_name_dir }}</value>
    </property>
{% endif %}
{% if 'hdfs_secondarynamenode' in group_names %}
    <property>
        <name>dfs.namenode.checkpoint.dir</name>
        <value>file://{{ hdfs_namenode_checkpoint_dir }}</value>
    </property>
{% endif %}
{% if 'hdfs_datanode' in group_names %}
    <property>
        <name>dfs.datanode.data.dir</name>
        <value>file://{{ hdfs_datanode_data_dir }}</value>
    </property>
{% endif %}
</configuration>
