<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<configuration>
    <property>
        <name>yarn.resourcemanager.hostname</name>
{% for host in groups[hadoop_cluster] if host in groups['yarn_resourcemanager'] %}
{% if loop.first %}
        <value>{{ hostvars[host]['hadoop_hostname']|default(hostvars[host]['inventory_hostname']) }}</value>
{% endif %}
{% endfor %}
    </property>
{% if 'yarn_nodemanager' in group_names %}
    <property>
        <name>yarn.nodemanager.aux-services</name>
        <value>mapreduce_shuffle</value>
    </property>
{% endif %}
</configuration>
