# Initialization Template
# Save as init.yml when completed
# Total number of Virtual Machines to deploy (inluding the Master)
# e.g. Total: 5
Total:

# vSphere username
# e.g. Username: "administrator@vsphere.local"
Username:

# vSphere password
# e.g. Password: "Password"
Password:

# vSphere Pool to assign the virtual machines
# e.g. Pool: "Linux"
Pool:

# vSphere Cluster
# e.g. Cluster: "Site A"
Cluster:

# Template to clone the virtual machines from
# e.g. Template: "Temaplates/ubuntu.14"
Template:

# vShere or vCenter Host name or IP address
# e.g. Host: "esx01.vsphere.local"
Host:

# Master Username for the entire cluster of machines
# e.g. Master_User: "admin"
Master_User:

# Master user Password for the entire cluster of machines
# e.g. Master_Pass: "ADMIN"
Master_Pass:

# Version of Hadoop. Suggested lowest version 2.6.0.
# e.g. Hadoop_Version: "2.6.0"
Hadoop_Version: 

# Version of Spark. Suggested nothing lowest version 1.6.0.
# e.g. Spark_Version: "1.6.0"
Spark_Version: 

# Java JDK Version
# e.g. Java_Version: "openjdk-7-jdk"
Java_Version: 

# Version of Maven . Suggested lowest version 3.3.3.
# e.g. Maven_Version: "3.3.3"
Maven_Version: 

# Scala Version. Suggested lowest version 2.10.6.
# e.g. Scala_Version: "2.10.6"
Scala_Version: 