#!/usr/bin/env bash

echo "# install test_helper"

TEST_HELPER_GIT=https://github.com/hpec/test_helper.git
APPS_DIR=/{{ cluster_user }}/apps
TEST_HELPER_HOME=$APPS_DIR/test_helper

if ! [ -d $TEST_HELPER_HOME ]; then
  sudo git clone $TEST_HELPER_GIT $TEST_HELPER_HOME
fi

cd $TEST_HELPER_HOME
sudo python setup.py install
