[Unit]
Description=Hadoop Distributed File System DataNode

[Service]
Type=forking
ExecStart={{ hadoop_home }}/sbin/hadoop-daemon.sh --script hdfs start datanode
User={{ cluster_user }}

[Install]
WantedBy=multi-user.target